#root, html, body {
    padding: 0px;
    margin: 0px;
    height: 100vh;
    box-sizing: border-box;
}

.app {
    height: 100%;
    background-image: url('../images/wall.jfif');
    background-size: cover;
    background-position: center;
    
}

.card-title {
    font-family: 'Spartan', sans-serif !important;
    font-size: 50px !important;
}

.card {
    border-radius: 15px !important;
}